# python
PYTHONUNBUFFERED=1

DB_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=secretkey
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# number of gunicorn workers
WORKERNUM=1

DJANGO_SETTINGS_MODULE=async_service.settings.base

ASYNC=false